.container {
  text-align: center;
}

.title {
  margin-top: 50px;
  color: rgb(67, 67, 224);
}

.task-list {

  color: rgb(92, 211, 92);

}

.list {
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

.btn {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.05);
  text-decoration: underline;
  color: red;
}

